<div class="container" ng-app="jobBoard">
  <h1>Ryan's Job Board</h1>

  <div ng-controller="jobsController">
    <div class="well text-center">
      <h3>Add a New Job</h3>
      <br />
      <form ng-submit="addJob()">
        <div class="row">
          <div class="col-xs-2 text-center">
            <h4>Date:</h4>
          </div>
          <div class="col-xs-4">
            <input type="text" ng-model="newJob.date" class="form-control datepicker" placeholder="Date" />
          </div>
          <div class="col-xs-2 text-center">
            <h4>Job Poster:</h4>
          </div>
          <div class="col-xs-4">
            <input type="text" ng-model="newJob.author" class="form-control" placeholder="Job Poster" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-center">
            <h4>Location:</h4>
          </div>
          <div class="col-xs-4">
            <select class="form-control" ng-model="newJob.location">
              <option value="Allston">Allston</option>
              <option value="Boston">Boston</option>
              <option value="Brookline">Brookline</option>
              <option value="Cambridge">Cambridge</option>
              <option value="Watertown">Watertown</option>
            </select>
          </div>
          <div class="col-xs-2 text-center">
            <h4>Category:</h4>
          </div>
          <div class="col-xs-4">
            <select class="form-control" ng-model="newJob.category">
              <option value="Landscaping">Landscaping</option>
              <option value="Cleaning">Cleaning</option>
              <option value="Labor">General Labor</option>
              <option value="Babysitting">Babysitting</option>
              <option value="Tutoring">Tutoring</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-center">
            <h4>Status:</h4>
          </div>
          <div class="col-xs-4">
            <select class="form-control" ng-model="newJob.status">
              <option value="New">New</option>
              <option value="Pending">Pending</option>
              <option value="Complete">Complete</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <br />
            <input type="Submit" value="Add Job" class="btn btn-success btn-lg" />
          </div>
        </div>
      </form>
    </div>

    <h3>Current Jobs</h3>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Job Poster</th>
          <th>Category</th>
          <th>Location</th>
          <th>Status</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!jobs.length">
          <td colspan="7">No Jobs Posted.</td>
        </tr>
        <tr ng-repeat="job in jobs">
          <td>{{ job.date | date: 'MMMM d, yyyy' }}</td>
          <td>{{ job.author }}</td>
          <td>{{ job.category }}</td>
          <td>{{ job.location }}</td>
          <td>{{ job.status }}</td>
          <td><a class="btn btn-warning" ng-click="editJob($index)" data-toggle="modal" data-target="#myModal">Edit</a></td>
          <td><a class="btn btn-danger" ng-click="deleteJob($index)">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" my-modal role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Job</h4>
          </div>
          <div class="modal-body">
            <form ng-submit="saveJob()">
              <div class="row">
                <div class="col-xs-2 text-center">
                  <h4>Date:</h4>
                </div>
                <div class="col-xs-4">
                  <input type="text" ng-model="jobToEdit.date" class="form-control datepicker" placeholder="Date" />
                </div>
                <div class="col-xs-2 text-center">
                  <h4>Job Poster:</h4>
                </div>
                <div class="col-xs-4">
                  <input type="text" ng-model="jobToEdit.author" class="form-control" placeholder="Job Poster" />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 text-center">
                  <h4>Location:</h4>
                </div>
                <div class="col-xs-4">
                  <select class="form-control" ng-model="jobToEdit.location">
                    <option value="Allston">Allston</option>
                    <option value="Boston">Boston</option>
                    <option value="Brookline">Brookline</option>
                    <option value="Cambridge">Cambridge</option>
                    <option value="Watertown">Watertown</option>
                  </select>
                </div>
                <div class="col-xs-2 text-center">
                  <h4>Category:</h4>
                </div>
                <div class="col-xs-4">
                  <select class="form-control" ng-model="jobToEdit.category">
                    <option value="Landscaping">Landscaping</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Labor">General Labor</option>
                    <option value="Babysitting">Babysitting</option>
                    <option value="Tutoring">Tutoring</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 text-center">
                  <h4>Status:</h4>
                </div>
                <div class="col-xs-4">
                  <select class="form-control" ng-model="jobToEdit.status">
                    <option value="New">New</option>
                    <option value="Pending">Pending</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <br />
                  <input type="Submit" value="Save" class="btn btn-success btn-lg" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
