<div class="container" ng-app="jobBoard">
  <h1>Ryan's Job Board</h1>

  <div ng-controller="jobsController">
    <div ng-hide="formClosed" class="well text-center">
      <h3>Add a New Job</h3>
      <br />
      <form ng-submit="addJob()">
        <div job-form job="newJob"></div>
        <div class="row">
          <div class="col-xs-12 text-right">
            <br />
            <a ng-click="closeForm()" class="btn btn-danger btn-lg">Cancel</a>
            <input type="Submit" value="Post Job" class="btn btn-success btn-lg" />
          </div>
        </div>
      </form>
    </div>
    <br />
    <a id="postNewJob" ng-show="formClosed" ng-click="openForm()" class="pull-right btn btn-success btn-lg">Post New Job</a>
    <br />

    <h3>Current Jobs</h3>
    <hr />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th ng-click="sortBy('date')">Date &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
          <th ng-click="sortBy('author')">Job Poster &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
          <th ng-click="sortBy('category')">Category &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
          <th ng-click="sortBy('location')">Location &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
          <th ng-click="sortBy('status')">Status &nbsp<i class="fa fa-sort" aria-hidden="true"></i></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!jobs.length">
          <td colspan="7">No Jobs Posted.</td>
        </tr>
        <tr ng-repeat="job in jobs">
          <td>{{ job.date | date: 'MMMM d, yyyy' }}</td>
          <td>{{ job.author | uppercase }}</td>
          <td>{{ job.category | uppercase }}</td>
          <td>{{ job.location | uppercase }}</td>
          <td>{{ job.status | uppercase }}</td>
          <td><a class="btn btn-warning" ng-click="editJob($index)" data-toggle="modal" data-target="#editModal">Edit</a></td>
          <td><a class="btn btn-danger" ng-click="deleteJob($index)">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="editModal" edit-modal role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Job</h4>
          </div>
          <div class="modal-body">
            <form ng-submit="saveJob()">
              <div job-form job="jobToEdit"></div>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <br />
                  <input type="Submit" value="Save" class="btn btn-success btn-lg" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
